<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> @Html.ActionLink("Alma CPECH", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            </div>
            <span class="nav navbar-text pull-right">¡Hola, @User.Identity.Name! <i class="fa fa-sign-out btn navbar-text" onclick="javascript:Salir()" title="Salir del sistema"></i></span>
            

  
        </div>
    </nav>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Departamento Desarrollo CPECH</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function Salir() {
            location.href = '@Url.Action("LogOff","Login")';

        }
    </script>
</body>
</html>
